<ion-content>

  <video id="video" class="video" autoplay muted loop>
    <source src="assets/video/bg.mp4" type="video/mp4">
  </video>


  <ul class="friends-harmonic" id="friendsAvatarHarmonic">
    <li>
      <a href="#">
        <img src="/assets/img/friends/friend-harmonic7.jpg" alt="friend">
      </a>
    </li>
    <li>
      <a href="#">
        <img src="/assets/img/friends/friend-harmonic8.jpg" alt="friend">
      </a>
    </li>
  </ul>


  <ion-slides>
    <ion-slide>
      <h1>The reactive social network!</h1>
    </ion-slide>
    <ion-slide>
      <h1>One for all and all for one!</h1>
    </ion-slide>
    <ion-slide>
      <h1>Good vibes all day long!</h1>
    </ion-slide>
  </ion-slides>

  <!--<div id="sign-in-status"></div>-->
  <!--<div id="sign-in"></div>-->
  <!--<div id="account-details"></div>-->

  <div id="firebaseui-auth-container" class="firebase-ui"></div>

</ion-content>
