<ion-grid class="ion-cards-container">
  <ion-row *ngFor="let row of cardsMatrix">

    <ion-col
            *ngFor="let card of row"
            class="ion-card"
            [ngStyle]="{
            'background-size': 'cover',
            'background-image': 'url(' + card.avatarUrl + ')'
            }"

            [attr.width-25]="getWidthClass() === 'width-25' ? true : null"
            [attr.width-33]="getWidthClass() === 'width-33' ? true : null"
            [attr.width-50]="getWidthClass() === 'width-50' ? true : null"
            (click)="onClick(card)"
    >

        <app-user-card [card]="card"></app-user-card>

    </ion-col>

  </ion-row>
</ion-grid>